@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root {
  --primary-color: #6937dc;
  --secondary-color: #F2EDFC;

  --white: #fff;
  --black: #333;
  --light__gray: #4f4f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}
html {
  font-size: 62.5%;}


body {
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}


  /* media Queries */

 

/* utilities */
.text-center{text-align: center;}
.block{display: block;}
.p-74{padding:7rem 0 4rem;}
.p-54{padding:5rem 0 4rem 0;}
.p-29{padding:2rem 0 9rem 0;}
.mt-3{margin: 3rem 0;}
.mb-1{margin-bottom: 1.5rem;}
.mb-2{margin-bottom: 2rem;}
.heading-secondary{font-size: 5rem; padding: 3rem 0;}

.box-flex{
    display: flex;
    justify-content: space-around;
    gap: 12%;
    margin: 1rem auto;
}
.btn{
    padding: 1.2rem 3rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 100px;
    font-size: 1.6rem;
    color: var(--white);
    cursor: pointer;
}

a{
  text-decoration: none;
}

.hide{
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}


/*  */

/* header */
.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3rem;
  z-index: 1000000000;
}

.navigation-img {
  width: 10rem;
}

.nav-item {
  display: inline;
  padding: 1.5rem 4.5rem;
}
.nav-link {
  font-size: 1.6rem;
  color: var(--white);
  text-decoration: none;
}

.current{
  background: #9970FA;
  border-radius: 100PX;
}

/*  */

/* Section */
main{
  padding-top: 7rem;
}

.container-central{
   padding: 7.9rem 0 0;
   background: transparent;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 7rem 3rem;
}

.hero-introduction {
  flex: 1;
  padding: 0 2rem;
}

.hero-heading {
  color: var(--black);
  text-align: left;
}
.hero-description{
    display: inline-block;
    font-weight: 400;
    color: var(--light__gray);
}
.hero-layout {
   flex: 1;
   padding:0 1.5rem;
}
.hero-img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/*  */

/* values */

.values{background-color: var(--secondary-color);   width: 100vw; padding:1rem 3rem;}
.values-container{flex-wrap: wrap;gap: 25%;}
.values-card{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
    padding: 3rem;
    border-radius: 2rem;
    text-align: center;
    margin: 2.5rem 0;
    color: var(--light__gray);
    aspect-ratio: 1;
}
.values-title{
    font-size: 2.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: 700;
    color: var(--black);
}
.values-icon{
    width:7rem;
    height: 7rem;
}
.values-description{
    font-size: 1.6rem;
    margin: 2.4rem 0 1.6rem;
}
/*  */

/* section-walkrough */
.section-walkthrough{
  padding: 5rem 0;
}

.opening-text{
  font-size: 1.6rem;
  color:gray
}

.section-walkthrough{
    max-width: 114rem;
    margin: 0 auto;
}

.illustration-img{
    width: 23%;
}

.illustration-icon{
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 100%;
  transform: translateX(-2rem) translateY(-4rem);
}

.fa{
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
}

.illustration-item{
    font-size: 2.4rem;
    list-style: none;
    display: inline-flex;
}

.illustration-subtext{
    display: block;
    width: 20%;
}

/* timeline */
.timeline-container::before,
.list-updates::before,
.list-updates .update::before {
  content: "";
}
.timeline-container::before,
.list-updates::before,
.list-updates .update::before,
.all-updates {
  position: absolute;
}
.timeline-container,
.list-updates .update,
.list-updates {
  position: relative;
}
.timeline-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2rem 2rem 7rem 3rem;
  border-radius: 5px;
  margin: 1rem;
}
.list-updates {
  list-style: none;
  width: 55rem;
  border-left: 2px solid var(--secondary-color);
}
.list-updates .update {
  padding-bottom: 1rem;
  border-radius: 10px;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.update .time {
  font-weight: 700;
  font-size: 2.7rem;
  color: var(--primary-color);
}
.update p {
  margin-top: 0.5rem;
}
/*  */

/* inquiries */

.inquiries{
  background-color: var(--secondary-color);
  padding: 2rem 0 ;
}

.inquiries-input{
  border: none;
  width: 80%;
  padding: 1.7rem 3rem;
  border-radius: 100px;
}

.inquiries-form{
  display: block;
  width: 70vw;
 text-align: center;
 margin: 0% auto;
}

.inquiries-btn{
  padding: 1.7rem 10rem;
  position: absolute;
  transform: translateX(-20rem);
}

.marketing{
  padding: 2rem 0;
  font-size: 1.8rem;
}

.marketing-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.link-img{
  height: 6rem;
  margin: 1rem 0;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  font-size: 1.6rem;
}

.footer-list{
  list-style: none;
  display: inline-flex;
}

.footer_list--item{
  margin:0 1.2rem;
}

.footer_list--item > *{
  color: var(--black);
}

 @media(max-width:960px) {
    html {
      font-size: 50%;}
      .box-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-flex > * {
      margin: 2rem auto;
    }

  .footer{
      display: flex;
      flex-direction: column;
    }
    
  }


  